<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ name }}</title>
  </head>
  <body>
    <ul>
      {% for m in menu %}
        <li style="display: inline-block;">
          <a href="{{ m.path }}">{{ m.name }} /</a>
        </li>
      {% endfor %}
    </ul>
    <h1>{{ name }}</h1>
    <p>
      Количество товара:{{ quantity|default:"Товар отсутствует"}}
    </p>
    <p>
      Описание товара: {{ description }}
    </p>
    <p>
      <a href="/items">Назад к списку товаров</a>
    </p>
  </body>
</html>
