<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Все товары</title>
  </head>
  <body>
    <ul>
      {% for m in menu %}
        <li style="display: inline-block;">
          <a href="{{ m.path }}">{{ m.name }} /</a>
        </li>
      {% endfor %}
    </ul>
    <h1>Все товары</h1>
    <ol>
      {% for item in items %}
        <li>
          <a href="/item/{{ item.id }}">{{ item.name }}</a>
        </li>
      {% endfor %}
    </ol>
    <h3>общее количество всех товаров {{ total_count|default:"товаров нет" }}</h3>
  </body>
</html>
